img {
  max-width: 80%;
}

img.member {
  max-width: 200px;
}

#content{
    margin: 0 auto 80px;
    max-width: 960px;
    height: auto;
    overflow: hidden;
}

#content .member-style{
  margin: 15px;
  text-align: center;
}
