.content-description .achievement-style{
    margin-bottom: 20px;
}

       .toc {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            display: flex;
            justify-content: space-around;
        }

        .toc h2 {
            font-size: 1.5em;
            margin-top: 0;
            border-bottom: 2px solid #ccc;
            padding-bottom: 5px;
            flex-basis: 100%;
            text-align: center;
        }

        .toc ul {
            list-style-type: none;
            padding-left: 0;
            display: flex;
            margin: 0;
            width: 100%;
            justify-content: space-around;
        }

        .toc li {
            margin: 0;
        }

        .toc a {
            text-decoration: none;
            color: #007BFF;
            font-weight: bold;
            padding: 5px 10px;
        }

        .toc a:hover {
            text-decoration: underline;
        }
