.content-description .achievement-style{
    margin-bottom: 20px;
}

        .toc {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            display: flex;
            flex-direction: column; /* 子要素の並び方向を縦から横に変更 */
            align-items: center; /* 子要素を中央揃え */
        }

        .toc h2 {
            font-size: 1.5em;
            margin-top: 0;
            border-bottom: 2px solid #ccc;
            padding-bottom: 5px;
            width: 100%;
            text-align: center;
        }

        .toc ul {
            list-style-type: none;
            padding-left: 0;
            display: flex;
            margin: 0;
            justify-content: center; /* 子要素を中央揃え */
        }

        .toc li {
            margin: 0 10px; /* 左右にスペースを追加 */
        }

        .toc a {
            text-decoration: none;
            color: #007BFF;
            font-weight: bold;
        }

        .toc a:hover {
            text-decoration: underline;
        }
